* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    .header-navbar {
        display: grid;
        grid-template-columns: 1fr 3fr;
        border-bottom: 1px dotted black;
        padding: 30px;


        .navbar-logo {
            .nav-logo {
                margin-left: 50px;
            }
        }

        .navbar-container {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            a {
                text-decoration: none;
                color: white;
                font-size: 30px;
                border: 2px solid gray;
                background-color: gray;
                border-radius: 8px;
                padding: 5px 10px;



            }

            .home {
                border: 2px solid black;
                border-radius: 8px;
                color: black;
                font-size: 30px;
                background-color: white;
                padding: 5px 10px;
            }

            a:hover {
                border: 2px solid black;
                border-radius: 8px;
                color: black;
                font-size: 30px;
                background-color: white;
                padding: 5px 10px;

            }

        }
    }
}

main {


    .banner {
        .banner-container {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .banner-left-1 {
                background-image: url("../images/left-banner-image.jpg");
                background-size: contain;
                background-repeat: no-repeat;
                height: 650px;
                margin: 50px;
                justify-content: center;
                display: flex;
                align-items: center;
                flex-direction: column;

                .h1 {
                    font-size: 80px;
                    color: white;
                    font-weight: 900;
                    margin-bottom: 30px;
                }

                .p {
                    font-size: 20px;
                    font-weight: 500;
                    font-style: italic;
                    color: white;
                    margin-bottom: 20px;
                }

                .btn {
                    color: white;
                    border: 1px solid transparent;
                    border-radius: 10px;
                    background-color: grey;
                    padding: 15px 20px;

                }

            }


            .banner-right {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
                margin: 50px;

                .banner-right-1 {
                    background-image: url("../images/baner-right-image-01.jpg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 300px;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    .banner-right-1-content-1 {
                        display: block;

                        .h1 {
                            font-size: 40px;
                            color: white;
                            font-weight: 900;
                            margin-bottom: 30px;
                        }

                        .p {
                            font-size: 20px;
                            font-weight: 500;
                            font-style: italic;
                            color: white;
                            margin-bottom: 20px;
                        }
                    }

                    .banner-right-1-content-2 {
                        display: none;

                        .h1 {
                            font-size: 40px;
                            color: white;
                            font-weight: 900;
                            margin-bottom: 30px;
                        }

                        .btn {
                            color: white;
                            border: 1px solid transparent;
                            border-radius: 10px;
                            background-color: grey;
                            padding: 15px 20px;
                        }
                    }


                }

                .banner-right-1:hover {


                    .banner-right-1-content-1 {
                        display: none;


                        .h1 {
                            font-size: 40px;
                            color: white;
                            font-weight: 900;
                            margin-bottom: 30px;
                        }

                        .p {
                            font-size: 20px;
                            font-weight: 500;
                            font-style: italic;
                            color: white;
                            margin-bottom: 20px;
                        }
                    }

                    .banner-right-1-content-2 {
                        display: block;
                        background-color: black;
                        padding: 50px 60px;

                        .h1 {
                            font-size: 40px;
                            color: white;
                            font-weight: 900;
                            margin-bottom: 30px;
                        }

                        .btn {
                            color: white;
                            border: 1px solid white;
                            border-radius: 10px;
                            background-color: grey;
                            padding: 15px 20px;
                        }

                        .btn:hover {
                            color: black;
                            border: 1px solid transparent;
                            border-radius: 10px;
                            background-color: white;
                            padding: 15px 20px;
                        }
                    }

                }

                .banner-right-2 {
                    background-image: url("../images/baner-right-image-02.jpg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 300px;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    .banner-right-2-content-1 {
                        display: block;

                        .h1 {
                            font-size: 40px;
                            color: white;
                            font-weight: 900;
                            margin-bottom: 30px;
                        }

                        .p {
                            font-size: 20px;
                            font-weight: 500;
                            font-style: italic;
                            color: white;
                            margin-bottom: 20px;
                        }

                    }

                    .banner-right-2-content-2 {
                        display: none;

                        .h1 {
                            font-size: 40px;
                            color: white;
                            font-weight: 900;
                            margin-bottom: 30px;
                        }

                        .p {
                            font-size: 20px;
                            font-weight: 500;
                            font-style: italic;
                            color: white;
                            margin-bottom: 20px;
                        }
                    }



                }

                .banner-right-2:hover {


                    .banner-right-2-content-1 {
                        background-color: black;
                        visibility: hidden;


                        .h1 {
                            font-size: 40px;
                            color: white;
                            font-weight: 900;
                            margin-bottom: 30px;
                        }

                        .p {
                            font-size: 20px;
                            font-weight: 500;
                            font-style: italic;
                            color: white;
                            margin-bottom: 20px;
                        }
                    }

                    .banner-right-2-content-2 {
                        display: block;
                        background-color: black;
                        padding: 50px 60px;

                        .h1 {
                            font-size: 40px;
                            color: white;
                            font-weight: 900;
                            margin-bottom: 30px;
                        }

                        .btn {
                            color: white;
                            border: 1px solid white;
                            border-radius: 10px;
                            background-color: grey;
                            padding: 15px 20px;
                        }

                        .btn:hover {
                            color: black;
                            border: 1px solid transparent;
                            border-radius: 10px;
                            background-color: white;
                            padding: 15px 20px;
                        }
                    }

                }

                .banner-right-3 {
                    background-image: url("../images/baner-right-image-03.jpg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 300px;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    .banner-right-3-content-1 {
                        display: block;

                        .h1 {
                            font-size: 40px;
                            color: white;
                            font-weight: 900;
                            margin-bottom: 30px;
                        }

                        .p {
                            font-size: 20px;
                            font-weight: 500;
                            font-style: italic;
                            color: white;
                            margin-bottom: 20px;
                        }
                    }

                    .banner-right-3-content-2 {
                        display: none;

                        .h1 {
                            font-size: 40px;
                            color: white;
                            font-weight: 900;
                            margin-bottom: 30px;
                        }

                        .btn {
                            color: white;
                            border: 1px solid transparent;
                            border-radius: 10px;
                            background-color: grey;
                            padding: 15px 20px;
                        }
                    }

                }

                .banner-right-3:hover {


                    .banner-right-3-content-1 {
                        display: none;


                        .h1 {
                            font-size: 40px;
                            color: white;
                            font-weight: 900;
                            margin-bottom: 30px;
                        }

                        .p {
                            font-size: 20px;
                            font-weight: 500;
                            font-style: italic;
                            color: white;
                            margin-bottom: 20px;
                        }
                    }

                    .banner-right-3-content-2 {
                        display: block;
                        background-color: black;
                        padding: 50px 60px;

                        .h1 {
                            font-size: 40px;
                            color: white;
                            font-weight: 900;
                            margin-bottom: 30px;
                        }

                        .btn {
                            color: white;
                            border: 1px solid white;
                            border-radius: 10px;
                            background-color: grey;
                            padding: 15px 20px;
                        }

                        .btn:hover {
                            color: black;
                            border: 1px solid transparent;
                            border-radius: 10px;
                            background-color: white;
                            padding: 15px 20px;
                        }
                    }

                }

                .banner-right-4 {
                    background-image: url("../images/baner-right-image-04.jpg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 300px;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    flex-direction: column;


                    .banner-right-4-content-1 {
                        display: block;

                        .h1 {
                            font-size: 40px;
                            color: white;
                            font-weight: 900;
                            margin-bottom: 30px;
                        }

                        .p {
                            font-size: 20px;
                            font-weight: 500;
                            font-style: italic;
                            color: white;
                            margin-bottom: 20px;
                        }
                    }

                    .banner-right-4-content-2 {
                        display: none;

                        .h1 {
                            font-size: 40px;
                            color: white;
                            font-weight: 900;
                            margin-bottom: 30px;
                        }

                        .btn {
                            color: white;
                            border: 1px solid transparent;
                            border-radius: 10px;
                            background-color: grey;
                            padding: 15px 20px;
                        }
                    }
                }

                .banner-right-4:hover {


                    .banner-right-4-content-1 {
                        display: none;


                        .h1 {
                            font-size: 40px;
                            color: white;
                            font-weight: 900;
                            margin-bottom: 30px;
                        }

                        .p {
                            font-size: 20px;
                            font-weight: 500;
                            font-style: italic;
                            color: white;
                            margin-bottom: 20px;
                        }
                    }

                    .banner-right-4-content-2 {
                        display: block;
                        background-color: black;
                        padding: 50px 50px;

                        .h1 {
                            font-size: 40px;
                            color: white;
                            font-weight: 900;
                            margin-bottom: 30px;
                        }

                        .btn {
                            color: white;
                            border: 1px solid white;
                            border-radius: 10px;
                            background-color: grey;
                            padding: 15px 20px;
                        }

                        .btn:hover {
                            color: black;
                            border: 1px solid transparent;
                            border-radius: 10px;
                            background-color: white;
                            padding: 15px 20px;
                        }
                    }

                }


            }
        }

    }

    .hr {
        margin-top: 10px;
        margin-bottom: 50px;

        hr {
            border: 1px dotted black;
        }
    }
}

.about-men {
    margin-top: 150px;
    margin-left: 100px;
    margin-bottom: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    .title {
        font-size: 50px;
        font-weight: 900;
        color: black;
    }

    .info {
        font-size: 30px;
        color: black;
        width: 50%;
    }
}

.mens-photo {
    display: grid;
    grid-template-columns: .2fr 1fr 1fr 1fr .2fr;
    margin-bottom: 70px;
    margin-left: 30px;

    .pre {
        width: 100px;
        padding-top: 180px;
        margin-right: 80px;

        float: left;
    }

    .mens-photo-1 {
        .about-mens-photo-1 {
            display: flex;
            align-items: center;

            .title {
                font-size: 30px;

            }

            img {
                width: 100px;
                margin-left: 90px;
            }

        }

        .price {
            font-size: 20px;
        }
    }

    .mens-photo-2 {
        .about-mens-photo-1 {
            display: flex;
            align-items: center;

            .title {
                font-size: 30px;

            }

            img {
                width: 100px;
                margin-left: 90px;
            }

        }

        .price {
            font-size: 20px;
        }
    }

    .mens-photo-3 {
        .about-mens-photo-1 {
            display: flex;
            align-items: center;

            .title {
                font-size: 30px;

            }

            img {
                width: 100px;
                margin-left: 87px;
            }

        }

        .price {
            font-size: 20px;
        }
    }

    .next {
        width: 100px;
        padding-top: 180px;
        padding-left: 0px;
    }


}

.real {
    margin-top: 10px;
    margin-bottom: 50px;

    hr {
        border: 1px dotted black;
    }
}
.about-women {
    margin-top: 150px;
    margin-left: 100px;
    margin-bottom: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    .title {
        font-size: 50px;
        font-weight: 900;
        color: black;
    }

    .info {
        font-size: 30px;
        color: black;
        width: 50%;
    }
}
.womens-photo {
    display: grid;
    grid-template-columns: .2fr 1fr 1fr 1fr .2fr;
    margin-bottom: 70px;
    margin-left: 30px;

    .pre {
        width: 100px;
        padding-top: 180px;
        margin-right: 80px;

        float: left;
    }

    .womens-photo-1 {
        .about-womens-photo-1 {
            display: flex;
            align-items: center;

            .title {
                font-size: 30px;

            }

            img {
                width: 100px;
                margin-left: 90px;
            }

        }

        .price {
            font-size: 20px;
        }
    }

    .womens-photo-2 {
        .about-womens-photo-1 {
            display: flex;
            align-items: center;

            .title {
                font-size: 30px;

            }

            img {
                width: 100px;
                margin-left: 90px;
            }

        }

        .price {
            font-size: 20px;
        }
    }

    .womens-photo-3 {
        .about-womens-photo-1 {
            display: flex;
            align-items: center;

            .title {
                font-size: 30px;

            }

            img {
                width: 100px;
                margin-left: 87px;
            }

        }

        .price {
            font-size: 20px;
        }
    }

    .next {
        width: 100px;
        padding-top: 180px;
        padding-left: 0px;
    }


}
.hr {
    margin-top: 10px;
    margin-bottom: 50px;

    hr {
        border: 7px dotted black;
    }
}