* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header .header-navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-bottom: 1px dotted black;
  padding: 30px;
}
header .header-navbar .navbar-logo .nav-logo {
  margin-left: 50px;
}
header .header-navbar .navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header .header-navbar .navbar-container a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  border: 2px solid gray;
  background-color: gray;
  border-radius: 8px;
  padding: 5px 10px;
}
header .header-navbar .navbar-container .home {
  border: 2px solid black;
  border-radius: 8px;
  color: black;
  font-size: 30px;
  background-color: white;
  padding: 5px 10px;
}
header .header-navbar .navbar-container a:hover {
  border: 2px solid black;
  border-radius: 8px;
  color: black;
  font-size: 30px;
  background-color: white;
  padding: 5px 10px;
}

main .banner .banner-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .banner .banner-container .banner-left-1 {
  background-image: url("../images/left-banner-image.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 650px;
  margin: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .banner .banner-container .banner-left-1 .h1 {
  font-size: 80px;
  color: white;
  font-weight: 900;
  margin-bottom: 30px;
}
main .banner .banner-container .banner-left-1 .p {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  color: white;
  margin-bottom: 20px;
}
main .banner .banner-container .banner-left-1 .btn {
  color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: grey;
  padding: 15px 20px;
}
main .banner .banner-container .banner-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 50px;
}
main .banner .banner-container .banner-right .banner-right-1 {
  background-image: url("../images/baner-right-image-01.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .banner .banner-container .banner-right .banner-right-1 .banner-right-1-content-1 {
  display: block;
}
main .banner .banner-container .banner-right .banner-right-1 .banner-right-1-content-1 .h1 {
  font-size: 40px;
  color: white;
  font-weight: 900;
  margin-bottom: 30px;
}
main .banner .banner-container .banner-right .banner-right-1 .banner-right-1-content-1 .p {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  color: white;
  margin-bottom: 20px;
}
main .banner .banner-container .banner-right .banner-right-1 .banner-right-1-content-2 {
  display: none;
}
main .banner .banner-container .banner-right .banner-right-1 .banner-right-1-content-2 .h1 {
  font-size: 40px;
  color: white;
  font-weight: 900;
  margin-bottom: 30px;
}
main .banner .banner-container .banner-right .banner-right-1 .banner-right-1-content-2 .btn {
  color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: grey;
  padding: 15px 20px;
}
main .banner .banner-container .banner-right .banner-right-1:hover .banner-right-1-content-1 {
  display: none;
}
main .banner .banner-container .banner-right .banner-right-1:hover .banner-right-1-content-1 .h1 {
  font-size: 40px;
  color: white;
  font-weight: 900;
  margin-bottom: 30px;
}
main .banner .banner-container .banner-right .banner-right-1:hover .banner-right-1-content-1 .p {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  color: white;
  margin-bottom: 20px;
}
main .banner .banner-container .banner-right .banner-right-1:hover .banner-right-1-content-2 {
  display: block;
  background-color: black;
  padding: 50px 60px;
}
main .banner .banner-container .banner-right .banner-right-1:hover .banner-right-1-content-2 .h1 {
  font-size: 40px;
  color: white;
  font-weight: 900;
  margin-bottom: 30px;
}
main .banner .banner-container .banner-right .banner-right-1:hover .banner-right-1-content-2 .btn {
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  background-color: grey;
  padding: 15px 20px;
}
main .banner .banner-container .banner-right .banner-right-1:hover .banner-right-1-content-2 .btn:hover {
  color: black;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: white;
  padding: 15px 20px;
}
main .banner .banner-container .banner-right .banner-right-2 {
  background-image: url("../images/baner-right-image-02.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .banner .banner-container .banner-right .banner-right-2 .banner-right-2-content-1 {
  display: block;
}
main .banner .banner-container .banner-right .banner-right-2 .banner-right-2-content-1 .h1 {
  font-size: 40px;
  color: white;
  font-weight: 900;
  margin-bottom: 30px;
}
main .banner .banner-container .banner-right .banner-right-2 .banner-right-2-content-1 .p {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  color: white;
  margin-bottom: 20px;
}
main .banner .banner-container .banner-right .banner-right-2 .banner-right-2-content-2 {
  display: none;
}
main .banner .banner-container .banner-right .banner-right-2 .banner-right-2-content-2 .h1 {
  font-size: 40px;
  color: white;
  font-weight: 900;
  margin-bottom: 30px;
}
main .banner .banner-container .banner-right .banner-right-2 .banner-right-2-content-2 .p {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  color: white;
  margin-bottom: 20px;
}
main .banner .banner-container .banner-right .banner-right-2:hover .banner-right-2-content-1 {
  background-color: black;
  visibility: hidden;
}
main .banner .banner-container .banner-right .banner-right-2:hover .banner-right-2-content-1 .h1 {
  font-size: 40px;
  color: white;
  font-weight: 900;
  margin-bottom: 30px;
}
main .banner .banner-container .banner-right .banner-right-2:hover .banner-right-2-content-1 .p {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  color: white;
  margin-bottom: 20px;
}
main .banner .banner-container .banner-right .banner-right-2:hover .banner-right-2-content-2 {
  display: block;
  background-color: black;
  padding: 50px 60px;
}
main .banner .banner-container .banner-right .banner-right-2:hover .banner-right-2-content-2 .h1 {
  font-size: 40px;
  color: white;
  font-weight: 900;
  margin-bottom: 30px;
}
main .banner .banner-container .banner-right .banner-right-2:hover .banner-right-2-content-2 .btn {
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  background-color: grey;
  padding: 15px 20px;
}
main .banner .banner-container .banner-right .banner-right-2:hover .banner-right-2-content-2 .btn:hover {
  color: black;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: white;
  padding: 15px 20px;
}
main .banner .banner-container .banner-right .banner-right-3 {
  background-image: url("../images/baner-right-image-03.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .banner .banner-container .banner-right .banner-right-3 .banner-right-3-content-1 {
  display: block;
}
main .banner .banner-container .banner-right .banner-right-3 .banner-right-3-content-1 .h1 {
  font-size: 40px;
  color: white;
  font-weight: 900;
  margin-bottom: 30px;
}
main .banner .banner-container .banner-right .banner-right-3 .banner-right-3-content-1 .p {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  color: white;
  margin-bottom: 20px;
}
main .banner .banner-container .banner-right .banner-right-3 .banner-right-3-content-2 {
  display: none;
}
main .banner .banner-container .banner-right .banner-right-3 .banner-right-3-content-2 .h1 {
  font-size: 40px;
  color: white;
  font-weight: 900;
  margin-bottom: 30px;
}
main .banner .banner-container .banner-right .banner-right-3 .banner-right-3-content-2 .btn {
  color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: grey;
  padding: 15px 20px;
}
main .banner .banner-container .banner-right .banner-right-3:hover .banner-right-3-content-1 {
  display: none;
}
main .banner .banner-container .banner-right .banner-right-3:hover .banner-right-3-content-1 .h1 {
  font-size: 40px;
  color: white;
  font-weight: 900;
  margin-bottom: 30px;
}
main .banner .banner-container .banner-right .banner-right-3:hover .banner-right-3-content-1 .p {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  color: white;
  margin-bottom: 20px;
}
main .banner .banner-container .banner-right .banner-right-3:hover .banner-right-3-content-2 {
  display: block;
  background-color: black;
  padding: 50px 60px;
}
main .banner .banner-container .banner-right .banner-right-3:hover .banner-right-3-content-2 .h1 {
  font-size: 40px;
  color: white;
  font-weight: 900;
  margin-bottom: 30px;
}
main .banner .banner-container .banner-right .banner-right-3:hover .banner-right-3-content-2 .btn {
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  background-color: grey;
  padding: 15px 20px;
}
main .banner .banner-container .banner-right .banner-right-3:hover .banner-right-3-content-2 .btn:hover {
  color: black;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: white;
  padding: 15px 20px;
}
main .banner .banner-container .banner-right .banner-right-4 {
  background-image: url("../images/baner-right-image-04.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .banner .banner-container .banner-right .banner-right-4 .banner-right-4-content-1 {
  display: block;
}
main .banner .banner-container .banner-right .banner-right-4 .banner-right-4-content-1 .h1 {
  font-size: 40px;
  color: white;
  font-weight: 900;
  margin-bottom: 30px;
}
main .banner .banner-container .banner-right .banner-right-4 .banner-right-4-content-1 .p {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  color: white;
  margin-bottom: 20px;
}
main .banner .banner-container .banner-right .banner-right-4 .banner-right-4-content-2 {
  display: none;
}
main .banner .banner-container .banner-right .banner-right-4 .banner-right-4-content-2 .h1 {
  font-size: 40px;
  color: white;
  font-weight: 900;
  margin-bottom: 30px;
}
main .banner .banner-container .banner-right .banner-right-4 .banner-right-4-content-2 .btn {
  color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: grey;
  padding: 15px 20px;
}
main .banner .banner-container .banner-right .banner-right-4:hover .banner-right-4-content-1 {
  display: none;
}
main .banner .banner-container .banner-right .banner-right-4:hover .banner-right-4-content-1 .h1 {
  font-size: 40px;
  color: white;
  font-weight: 900;
  margin-bottom: 30px;
}
main .banner .banner-container .banner-right .banner-right-4:hover .banner-right-4-content-1 .p {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  color: white;
  margin-bottom: 20px;
}
main .banner .banner-container .banner-right .banner-right-4:hover .banner-right-4-content-2 {
  display: block;
  background-color: black;
  padding: 50px 50px;
}
main .banner .banner-container .banner-right .banner-right-4:hover .banner-right-4-content-2 .h1 {
  font-size: 40px;
  color: white;
  font-weight: 900;
  margin-bottom: 30px;
}
main .banner .banner-container .banner-right .banner-right-4:hover .banner-right-4-content-2 .btn {
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  background-color: grey;
  padding: 15px 20px;
}
main .banner .banner-container .banner-right .banner-right-4:hover .banner-right-4-content-2 .btn:hover {
  color: black;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: white;
  padding: 15px 20px;
}
main .hr {
  margin-top: 10px;
  margin-bottom: 50px;
}
main .hr hr {
  border: 1px dotted black;
}

.about-men {
  margin-top: 150px;
  margin-left: 100px;
  margin-bottom: 80px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.about-men .title {
  font-size: 50px;
  font-weight: 900;
  color: black;
}
.about-men .info {
  font-size: 30px;
  color: black;
  width: 50%;
}

.mens-photo {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr;
  margin-bottom: 70px;
  margin-left: 30px;
}
.mens-photo .pre {
  width: 100px;
  padding-top: 180px;
  margin-right: 80px;
  float: left;
}
.mens-photo .mens-photo-1 .about-mens-photo-1 {
  display: flex;
  align-items: center;
}
.mens-photo .mens-photo-1 .about-mens-photo-1 .title {
  font-size: 30px;
}
.mens-photo .mens-photo-1 .about-mens-photo-1 img {
  width: 100px;
  margin-left: 90px;
}
.mens-photo .mens-photo-1 .price {
  font-size: 20px;
}
.mens-photo .mens-photo-2 .about-mens-photo-1 {
  display: flex;
  align-items: center;
}
.mens-photo .mens-photo-2 .about-mens-photo-1 .title {
  font-size: 30px;
}
.mens-photo .mens-photo-2 .about-mens-photo-1 img {
  width: 100px;
  margin-left: 90px;
}
.mens-photo .mens-photo-2 .price {
  font-size: 20px;
}
.mens-photo .mens-photo-3 .about-mens-photo-1 {
  display: flex;
  align-items: center;
}
.mens-photo .mens-photo-3 .about-mens-photo-1 .title {
  font-size: 30px;
}
.mens-photo .mens-photo-3 .about-mens-photo-1 img {
  width: 100px;
  margin-left: 87px;
}
.mens-photo .mens-photo-3 .price {
  font-size: 20px;
}
.mens-photo .next {
  width: 100px;
  padding-top: 180px;
  padding-left: 0px;
}

.real {
  margin-top: 10px;
  margin-bottom: 50px;
}
.real hr {
  border: 1px dotted black;
}

.about-women {
  margin-top: 150px;
  margin-left: 100px;
  margin-bottom: 80px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.about-women .title {
  font-size: 50px;
  font-weight: 900;
  color: black;
}
.about-women .info {
  font-size: 30px;
  color: black;
  width: 50%;
}

.womens-photo {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr;
  margin-bottom: 70px;
  margin-left: 30px;
}
.womens-photo .pre {
  width: 100px;
  padding-top: 180px;
  margin-right: 80px;
  float: left;
}
.womens-photo .womens-photo-1 .about-womens-photo-1 {
  display: flex;
  align-items: center;
}
.womens-photo .womens-photo-1 .about-womens-photo-1 .title {
  font-size: 30px;
}
.womens-photo .womens-photo-1 .about-womens-photo-1 img {
  width: 100px;
  margin-left: 90px;
}
.womens-photo .womens-photo-1 .price {
  font-size: 20px;
}
.womens-photo .womens-photo-2 .about-womens-photo-1 {
  display: flex;
  align-items: center;
}
.womens-photo .womens-photo-2 .about-womens-photo-1 .title {
  font-size: 30px;
}
.womens-photo .womens-photo-2 .about-womens-photo-1 img {
  width: 100px;
  margin-left: 90px;
}
.womens-photo .womens-photo-2 .price {
  font-size: 20px;
}
.womens-photo .womens-photo-3 .about-womens-photo-1 {
  display: flex;
  align-items: center;
}
.womens-photo .womens-photo-3 .about-womens-photo-1 .title {
  font-size: 30px;
}
.womens-photo .womens-photo-3 .about-womens-photo-1 img {
  width: 100px;
  margin-left: 87px;
}
.womens-photo .womens-photo-3 .price {
  font-size: 20px;
}
.womens-photo .next {
  width: 100px;
  padding-top: 180px;
  padding-left: 0px;
}

.hr {
  margin-top: 10px;
  margin-bottom: 50px;
}
.hr hr {
  border: 7px dotted black;
}/*# sourceMappingURL=style.css.map */